<section id="contact" class="contact">
	<div class="section-header">
		<div class="section-header__title">
			<span class="section-header__num">04</span>
			<div class="section-header__text">
				<h2 class="section-header__main">Contact</h2>
				<p class="section-header__sub">お問い合わせ</p>
			</div>
		</div>
		<p class="section-header__lead">
			制作のご依頼やご相談、お見積りなど、まずはお気軽にお声がけください。折り返しご連絡いたします。
		</p>
	</div>

	<div class="contact__container">
		<div class="contact__text">
			<p>こんなご相談、お待ちしています。</p>
			<ul>
				<li>・Webサイト制作のご相談</li>
				<li>・見積もり・スケジュール確認</li>
				<li>・既存サイト改善のご相談</li>
				<li>・ロゴ・名刺の制作</li>
			</ul>
		</div>
		<div class="contact__cta">
			<!-- CTAボタン -->
			<a href="#contact" class="cta-button">
				<span class="cta-text">お問い合わせはこちら</span>
				<span class="cta-bg">Contact</span>
			</a>

			<!-- 説明文 -->
			<p class="cta-note">DMからのご相談も受け付けています。</p>

			<!-- SNS -->
			<div class="cta-sns">
				<p class="cta-follow">Follow me!!</p>

				<div class="sns-list">
					<a href="#" class="sns-btn">
						<img src="assets/img/contact_sns-x.svg" alt="X" />
					</a>

					<a href="#" class="sns-btn">
						<img
							src="assets/img/contact_sns-ig.svg"
							alt="Instagram"
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
