/* ==========================================================
   Project : Bloomline creative Studio
   File    : _profile.scss
   Role    : Section
   ----------------------------------------------------------
   Description :
   プロフィール・スキル・SNSエリア
   ========================================================== */

@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.profile {
	padding: 120px 16px;

	@include sp {
		padding: 0 16px;
	}

	&__container {
		display: grid;
		grid-template-columns: 380px 1fr;
		gap: 80px;

		@include sp {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}

	&__visual {
		text-align: center;
	}

	&__portrait {
		img {
			width: 300px;

			@include sp {
				width: 160px;
			}
		}

		@include sp {
			max-width: 160px;
			margin: 0 auto;
		}
	}

	&__sns {
		width: 300px;
		position: relative;
		margin-top: 24px;
		z-index: 100;

		display: flex;
		gap: 16px;
		justify-content: flex-end;
		align-items: flex-end;

		@include sp {
			width: 100%;
			padding: 0 24px;
			align-items: flex-start;
		}
	}

	&__follow {
		position: absolute;
		top: 12px;
		left: 16px;
		font-size: 24px;
		font-family: $font-accent;
		font-weight: $fw-regular;
		color: $second;
		display: inline-block;
		transform: rotate(-10.65deg);
		z-index: -1;

		@include sp {
			left: 24px;
		}
	}

	.sns-btn {
		display: inline-flex;
		width: 60px;
		height: 60px;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 50px;

		@include sp {
			margin-top: 0;
		}

		img {
			transition: transform 0.25s ease;
		}

		&:hover img {
			transform: scale(1.08);
		}
	}

	&__content {
		@include sp {
			margin: 0 16px;
		}
	}

	&__header {
		h2 {
			font-weight: $fw-semibold;
			font-size: 30px;
			letter-spacing: 0.08em;

			@include sp {
				font-size: 24px;
			}

			span {
				font-weight: $fw-regular;
				font-size: 18px;
				letter-spacing: 0.08em;
				color: $main;

				@include sp {
					font-size: 14px;
				}
			}
		}
	}

	&__role {
		font-size: 18px;
		margin-top: $space-sm;

		@include sp {
			font-size: 14px;
		}
	}

	&__text {
		font-family: $font-jp;
		font-size: 14px;
		line-height: 2;
		letter-spacing: 0.1em;
		margin-top: $space-lg;

		@include sp {
			font-size: 12px;
		}
	}

	.skills {
		margin-top: 60px;

		&__title {
			font-family: $font-jp;
			letter-spacing: 0.03em;
			position: relative;
			font-size: 30px;
			z-index: 100;

			@include sp {
				font-size: 24px;
			}
		}

		&__bg {
			position: absolute;
			left: 75px;
			bottom: -8px;
			font-size: 26px;
			font-family: $font-accent;
			font-weight: $fw-regular;
			color: $second;
			display: inline-block;
			transform: rotate(-10.65deg);
			z-index: -1;

			@include sp {
				font-size: 20px;
			}
		}

		&__group {
			margin-top: $space-lg;

			h4 {
				font-family: $font-jp;
				font-weight: $fw-bold;
				color: $main;
				font-size: 20px;
				letter-spacing: 0.03em;

				@include sp {
					font-size: 16px;
				}
			}
		}

		.tag-list {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			margin-top: 8px;

			@include sp {
				gap: 8px;
			}

			li {
				background: $bg;
				padding: 2px 20px;
				border-radius: 20px;
				border: 1px solid $second;

				font-size: 16px;
				font-weight: $fw-semibold;
				letter-spacing: 0.05em;
				line-height: 2em;
				color: $main;

				@include sp {
					font-size: 14px;
					padding: 2px 16px;
				}
			}
		}
	}
}
